__pycache__/
*.py[cod]
static/
.DS_Store
open-context-py/.uwsgi_plugins_builder
admin/
debug_toolbar/
logs/
oc/
uwsgi.pid

# oc-repository files
open_context/logs
open_context/design
open_context/sysadmin
open_context/solr-config
open_context/pelagios-examples
open_context/docs
open_context/file_cache
open_context/json-ld-examples
open_context/open-context-py
open_context/opencontext_py
open_context/.gitattributes
open_context/.gitignore
open_context/change-secrets.json
open_context/CONDUCT.md
open_context/conftest.py
open_context/LICENSE.md
open_context/manage.py
open_context/Pipfile
open_context/Pipfile.lock
open_context/README.md
open_context/requirements.txt
open_context/settings.py
open_context/.git