version: '3'
services:
  db:
    image:  postgres
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    ports:  
      - "5432:5432"
  solr:
    image: solr
    build: ./solr/.
    container_name: solr
    ports:
     - "8983:8983"
    restart: always
  web:
    restart: always
    build: ./open-context-py/.
    container_name: web
    #command: gunicorn --bind 0.0.0.0:8000 opencontext_py.wsgi:application --reload
    command: uwsgi --emperor /etc/uwsgi/vassals --uid www-data --gid www-data --http-socket :8000 --ini /src/ocweb/uwsgi_oc.ini
    tty: true
    volumes:
      - ./open-context-py/:/src
      - static_data:/static/
    ports:
      - "8000:8000"
    expose: 
      - 8000
    entrypoint:
      /src/docker-entrypoint.sh
    depends_on:
      - db
      - solr
  nginx:
    image: nginx:1.17
    container_name: nginx
    ports:
      - "90:90"
    volumes:
      - ./open-context-py/:/src
      - ./nginx:/etc/nginx/conf.d
      - static_data:/static/
    depends_on:
      - web
  #redis:
  #  container_name: 'redis'
  #  image: 'redis:3.2.0'
  #  ports:
  #    - '127.0.0.1:6379:6379'
  #  volumes:
  #    - 'redisdata:/data'
volumes:
  postgres_data:
  static_data:
  #redisdata:
