version: '3'
services:
  db:
    image:  postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD:  password
      POSTGRES_USER:  postgres
    ports:  
        - "5433:5432"
  solr:
    image: solr
    build: ./solr/.
    container_name: solr
    ports:
     - "8983:8983"
    restart: always
  web:
    restart: always
    build: ./open-context-py/.
    command: gunicorn --bind 0.0.0.0:8000 opencontext_py.wsgi --reload
    tty: true
    volumes:
      - ./open-context-py/:/code
    ports:
      - "8000:8000"
    expose: 
      - 8000
    entrypoint:
      /code/docker-entrypoint.sh
    depends_on:
      - db
      - solr
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/usr/src/app/staticfiles
    ports:
      - 1337:80
    depends_on:
      - web
volumes:
  postgres_data:
  static_volume: